<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>

    

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
    
    </serviceHostingEnvironment>
    
    <services>
      <service name="PaperlessBoardServices.PaperlessBoard">
        <host>
          <baseAddresses>
            <add baseAddress="http://m264981:2222/_vti_bin/PaperlessBoard/PaperlessBoard.svc"/>
          </baseAddresses>
        </host>


        <endpoint address="http://m264981:2222/_vti_bin/PaperlessBoard/PaperlessBoard.svc" binding="basicHttpBinding" bindingConfiguration="pb" contract="PaperlessBoardServices.IPaperlessBoard">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        

      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="pb">
          <security mode="None">
            
          </security>
          
        </binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
  
</configuration>



